<center>
    <table>
        <tr>
            <td><input name="item1" id="item1" type="text" class="item-field" value="<%=@items?@items[0]:''%>"></td>
            <td style="width:12em;padding-left:1em;"><a href="#" onclick="redirVS()" id="vs">versus</a></td>
            <td><input name="item2" id="item2" type="text" class="item-field" value="<%=@items?@items[1]:''%>"></td>
        </tr>
    </table>
</center>